<div class="col-xs-12">
  <table class="table">
    <% lists.each do |u| %>
    <tr>
      <th><%= attachment_image_tag u, :profile_image, :fill, 30, 30, format: "jpeg", fallback: "no-image-mini.jpg" %>
      <td><%= link_to u.name, user_path(u) %></td>
      <td><%= link_to "Show", user_path(u) %></td>
    <tr>
    <% end %>
  </table>
</div>
